## Preprocessing

In [147]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [148]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN','NAME', 'ORGANIZATION'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,1,100000-499999,N,142590,1

In [149]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [150]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [151]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df[application_df['APPLICATION_TYPE'].map(application_df['APPLICATION_TYPE'].value_counts()) < 276]
application_types_to_replace = application_types_to_replace['APPLICATION_TYPE'].unique()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df = application_df.loc[application_df['APPLICATION_TYPE'] != 'T3']

In [152]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    4417
C3000    1888
C2000     885
C1300      51
C1200      12
C4000       6
C5000       2
C0          1
Name: CLASSIFICATION, dtype: int64

In [153]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df[application_df['CLASSIFICATION'].map(application_df['CLASSIFICATION'].value_counts()) > 1]['CLASSIFICATION'].value_counts()

C1000    4417
C3000    1888
C2000     885
C1300      51
C1200      12
C4000       6
C5000       2
Name: CLASSIFICATION, dtype: int64

In [154]:
# Choose a cutoff value and create a list of classifications to be replaced
classifications_to_replace = application_df[application_df['CLASSIFICATION'].map(application_df['CLASSIFICATION'].value_counts()) < 1883]
classifications_to_replace = classifications_to_replace['CLASSIFICATION'].unique()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    4417
C3000    1888
Other     957
Name: CLASSIFICATION, dtype: int64

In [155]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N
0,1,5000,1,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,5000,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
8,1,94389,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
9,1,5000,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
20,1,5000,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34291,1,5000,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
34292,1,5000,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
34294,1,5000,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
34295,1,5000,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
34297,1,5000,1,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [156]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=['IS_SUCCESSFUL']).values
y = application_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [157]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [158]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  20
hidden_nodes_layer2 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_8"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 20)                680

 dense_25 (Dense)            (None, 20)                420

 dense_26 (Dense)            (None, 1)                 21

=================================================================
Total params: 1121 (4.38 KB)
Trainable params: 1121 (4.38 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [159]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [160]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100

171/171 [==============================] - 1s 1ms/step - loss: 0.6216 - accuracy: 0.6680
Epoch 2/100
171/171 [==============================] - 0s 1ms/step - loss: 0.5258 - accuracy: 0.7468
Epoch 3/100
171/171 [==============================] - 0s 1ms/step - loss: 0.5106 - accuracy: 0.7523
Epoch 4/100
171/171 [==============================] - 0s 1ms/step - loss: 0.5047 - accuracy: 0.7552
Epoch 5/100
171/171 [==============================] - 0s 1ms/step - loss: 0.5015 - accuracy: 0.7574
Epoch 6/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4998 - accuracy: 0.7580
Epoch 7/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4988 - accuracy: 0.7549
Epoch 8/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4969 - accuracy: 0.7609
Epoch 9/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4969 - accuracy: 0.7604
Epoch 10/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4952 - accuracy: 0.7596
Epoch 11/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4947 - accuracy: 0.7613
Epoch 12/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4937 - accuracy: 0.7600
Epoch 13/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4937 - accuracy: 0.7633
Epoch 14/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4928 - accuracy: 0.7617
Epoch 15/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4924 - accuracy: 0.7618
Epoch 16/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4927 - accuracy: 0.7628
Epoch 17/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4922 - accuracy: 0.7642
Epoch 18/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4911 - accuracy: 0.7637
Epoch 19/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4905 - accuracy: 0.7613
Epoch 20/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4910 - accuracy: 0.7626
Epoch 21/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4901 - accuracy: 0.7635
Epoch 22/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4905 - accuracy: 0.7635
Epoch 23/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4899 - accuracy: 0.7615
Epoch 24/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4900 - accuracy: 0.7618
Epoch 25/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4895 - accuracy: 0.7631
Epoch 26/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4894 - accuracy: 0.7637
Epoch 27/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4884 - accuracy: 0.7651
Epoch 28/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4890 - accuracy: 0.7617
Epoch 29/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4879 - accuracy: 0.7646
Epoch 30/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4878 - accuracy: 0.7631
Epoch 31/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4882 - accuracy: 0.7637
Epoch 32/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4880 - accuracy: 0.7622
Epoch 33/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4882 - accuracy: 0.7646
Epoch 34/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4879 - accuracy: 0.7646
Epoch 35/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4874 - accuracy: 0.7655
Epoch 36/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4868 - accuracy: 0.7622
Epoch 37/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4873 - accuracy: 0.7651
Epoch 38/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4872 - accuracy: 0.7651
Epoch 39/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4865 - accuracy: 0.7655
Epoch 40/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4863 - accuracy: 0.7628
Epoch 41/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4864 - accuracy: 0.7659
Epoch 42/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4862 - accuracy: 0.7661
Epoch 43/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4864 - accuracy: 0.7661
Epoch 44/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4858 - accuracy: 0.7637
Epoch 45/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4864 - accuracy: 0.7646
Epoch 46/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4860 - accuracy: 0.7664
Epoch 47/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4862 - accuracy: 0.7663
Epoch 48/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4859 - accuracy: 0.7653
Epoch 49/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4858 - accuracy: 0.7657
Epoch 50/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4853 - accuracy: 0.7661
Epoch 51/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4854 - accuracy: 0.7664
Epoch 52/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4852 - accuracy: 0.7668
Epoch 53/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4858 - accuracy: 0.7635
Epoch 54/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4849 - accuracy: 0.7668
Epoch 55/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4853 - accuracy: 0.7674
Epoch 56/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4847 - accuracy: 0.7664
Epoch 57/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4854 - accuracy: 0.7653
Epoch 58/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4854 - accuracy: 0.7664
Epoch 59/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4859 - accuracy: 0.7675
Epoch 60/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4852 - accuracy: 0.7639
Epoch 61/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4841 - accuracy: 0.7663
Epoch 62/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4848 - accuracy: 0.7661
Epoch 63/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4849 - accuracy: 0.7644
Epoch 64/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4847 - accuracy: 0.7653
Epoch 65/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4843 - accuracy: 0.7657
Epoch 66/100
171/171 [==============================] - 0s 1ms/step - loss: 0.4843 - accuracy: 0.7668
Epoch 67/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4846 - accuracy: 0.7672
Epoch 68/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4847 - accuracy: 0.7672
Epoch 69/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4839 - accuracy: 0.7681
Epoch 70/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4843 - accuracy: 0.7651
Epoch 71/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4844 - accuracy: 0.7666
Epoch 72/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4839 - accuracy: 0.7646
Epoch 73/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4846 - accuracy: 0.7664
Epoch 74/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4848 - accuracy: 0.7666
Epoch 75/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4843 - accuracy: 0.7666
Epoch 76/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4842 - accuracy: 0.7666
Epoch 77/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4845 - accuracy: 0.7664
Epoch 78/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4838 - accuracy: 0.7672
Epoch 79/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4836 - accuracy: 0.7659
Epoch 80/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4838 - accuracy: 0.7651
Epoch 81/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4841 - accuracy: 0.7657
Epoch 82/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4832 - accuracy: 0.7670
Epoch 83/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4839 - accuracy: 0.7650
Epoch 84/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4840 - accuracy: 0.7659
Epoch 85/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4837 - accuracy: 0.7646
Epoch 86/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4836 - accuracy: 0.7683
Epoch 87/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4829 - accuracy: 0.7653
Epoch 88/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4835 - accuracy: 0.7642
Epoch 89/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4834 - accuracy: 0.7677
Epoch 90/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4835 - accuracy: 0.7674
Epoch 91/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4839 - accuracy: 0.7681
Epoch 92/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4833 - accuracy: 0.7677
Epoch 93/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4826 - accuracy: 0.7674
Epoch 94/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4824 - accuracy: 0.7675
Epoch 95/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4833 - accuracy: 0.7666
Epoch 96/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4831 - accuracy: 0.7661
Epoch 97/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4832 - accuracy: 0.7683
Epoch 98/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4831 - accuracy: 0.7675
Epoch 99/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4833 - accuracy: 0.7640
Epoch 100/100
171/171 [==============================] - 0s 2ms/step - loss: 0.4829 - accuracy: 0.7685

In [161]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

57/57 - 0s - loss: 0.4951 - accuracy: 0.7478 - 205ms/epoch - 4ms/step
Loss: 0.49505501985549927, Accuracy: 0.7477973699569702

In [162]:
nn.save('AlphabetSoupCharity_Optimization.h5')

/Users/villarroelvalentina/anaconda3/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(